{{ define "index.htm" }}

{{ template "head-bootstrap.htm" . }}

<div id="app" class="container">
  <div class="list-group">
    {{range $idx, $element := .Slides}}
      <a href="/slides/{{.Name}}" class="list-group-item list-group-item-action {{if eq $idx 0}}active{{end}} text-capitalize" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{.Title}}</h5>
          <small>{{.Ago}}</small>
        </div>
        <p class="mb-1">{{.Desc}}</p>
      </a>
    {{end}}
  </div>
</div>

<script>
  'use strict'
  const { createApp } = Vue
  createApp({
      data() {},
      computed: {},
      methods: {},
      created() {},
      delimiters: ["{[{", "}]}"],
  }).mount('#app')
</script>

{{ template "foot-bootstrap.htm" . }}

{{ end }}